/*hr
{
	color: white;
	size: 20px;
	width: 80%;
}*/

/*about read more*/
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: '顯示更多';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: '顯示較少';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  /*border: 1px solid #ddd;*/
  /*border-radius: .25em;*/
}
/*read more over*/

.store
{
	background: hsla(0,0%,0%,0.5);
	overflow: hidden;
	transition: background-color 1s;
}
.storeinfo
{
	padding-left: 10%;
	padding-right: 10%;
	position:absolute;
	top: 50%;
    transform: perspective(1px) translateY(-50%);
    transition: opacity 1s;
}
.store::before
{
	background-image: url('../image/store1.jpg');
	background-size: 100% auto;
	background-position: center;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	filter: blur(5px);
	margin: -30px;
	z-index: -1;
}
.storecomment
{
	background-color: black;
	opacity: 0;
	transition: opacity 1s;
	/*display: none;*/
	/*z-index: 2;*/
}
.storecomment > div
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.storecomment > div table
{
	margin-bottom: 10px;
}
.storecomment > div 	
.storename
{
	width: 100%;
	table-layout: fixed;
	text-align: left;
}
.store:hover
{
	background-color: black;
}
.store:hover .storecomment
{
	/*display: none;*/
	opacity: 1;
}
.store:hover .storeinfo
{
	opacity: 0;
}

/*#test:hover ~ #test2
{
	display: block;
}
#test2:hover
{
	display: block;
}*/
.scoretable
{
	width: 100%;
	table-layout: fixed;
	text-align: left;
}



.background
{
	background-image: url('../image/background.jpg');
    background-repeat: repeat;
}

.greenback
{
	background-color: #339911;
}

.lightback
{
	/*background-color: #FFFFBB;*/
	background: rgba(256, 248, 220, 0.7);
}

.topimage
{
	background-image: url('../image/header.png');
	background-repeat: no-repeat; 
	background-size: 1000px;
	background-position: center;
}

.minipage
{
	border: 1px solid;
	margin:10px;
	text-align: center;
	/*background-color: #f9c81e;*/
}
.button
{
	margin:10px;
	border: 1px solid;
	text-align: center;
	background-color: white;
}

.post-wrapper
{
	/* width:480px; */
  	/* height:800px; */
	border:1px solid black;
	padding: 10px ;
	margin-bottom:10px;	 
	/*background-color: #f09090; */
}
/*body
{
	 background-color: #e2dee3;
}*/
.postdiv
{
	/* display: flex; */
	/*flex-wrap: wrap;*/
    /*margin-top: 10px;*/
   /* margin-left:5px;*/

}
.image
{
	text-align: center;
}
.word
{
	width:500px;
	/* float: right; */
	/*background-color: grey;*/
}
.title
{
	/* margin:auto; */
	border: 1px solid;
	text-align:center;
	/*background-color: darkgreen;*/
}
.content
{
	/* height:62px; */
}

.scoreimagetable
{
	display: table;
	height: 100%;
	width: 100%;
	min-width: 150px;
	min-height: 150px;
}
.scoreimage
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-image: url('../image/score.png');
	background-repeat: no-repeat;
	background-size: 150px 150px;
	background-position: center;
}
.score
{
	background-color:#f9c81e;
	/* height:100px; */
}
.sweetimage
{
	text-align: center;
}
.list>ul
{
	list-style: none;
	background-color:#f9081e;
	padding:0px;
}
.list li
{
	text-align: left;
	background-color:#f9c8fe;
}

.marker
{
	height:150px;
}

.markerdiv
{
 	background-color:#FFFF00;
}
.votediv
{
	background-color:#00FF00;
}

.date
{
	text-align: right;
}

.postdiv ul
{
	text-align: center;
	list-style: none;
	padding: 0px;
	background-color: #00FF00;
}
.postdiv li
{
	margin: 0px auto;
	border: 1px solid;
	display: inline-block;
	background-color: #e2dee3;
}

.open
{
	display: block;
	text-align: right;
	/* float: none; */
	/* vertical-align: bottom; */
	background-color: #f9081e;	
}

.ranking
{
	list-style: none;
	padding: 0px;
	background-color: #ff9955;
}
.ranking header
{
	border: 5px solid;
	text-align: center;
}
.ranking > li
{
	margin-bottom:10px;
	border: 1px solid;
	background-color: #55ff99;
}
.rankingtable
{
	text-align: center;
	table-layout: fixed;
	word-break: break-all;
}
.rankingtable tbody tr td
{
	vertical-align: middle;
}
.rankingname
{
	width: 40%;
}
.topscore
{
	background-image: url('../image/rankingscore.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}