.ismobile #nav-bar-spy .container-fluid:after
{
	height: calc(15vh - 1rem);
}
.ismobile .navbar-brand
{
	max-width: 60%;
	max-height: 100%;
	padding-left: 6vw;
}
.ismobile .navbar-brand img
{
	max-height: 7.5vh;
	margin-left: 15px;
}
.ismobile .navbar-brand img:nth-of-type(1)
{
	display: none;
}
.ismobile .navbar-brand img:nth-of-type(2)
{
	display: inline;
}
.ismobile #nav-bar-spy .container-fluid > button
{
	margin-right: calc(6vw - 1rem + 15px);
}
.ismobile .navbar-toggler-icon
{
	height: 5vh;
}
.ismobile #navbarResponsive >　ul
{
	padding-left: 6vw;
}
.ismobile #about > .row
{
	padding-left: 6vw;
	padding-right: 6vw;
}
.ismobile .header
{
	height: 85vh;
	padding-bottom: 0px;
}
.ismobile .slogan
{
	align-self: unset!important;
}
.ismobile .slogan:before
{
	content: ' ';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.ismobile .slogan > div
{
	display: inline-block;
	vertical-align: middle;
}
.ismobile .slogan-main
{
	font-size: 9rem;
}
.ismobile .slogan-text
{
	font-size: 4rem;
	line-height: 1.75;
}
.ismobile .formula-text
{
	padding-top: 7vh;
	font-size: 4rem;
	line-height: 1.75;
}
.ismobile #about img
{
	margin-top: 5vh;
	width: 50%;
}
.ismobile .introduction-header
{
	font-size: 6rem;
}
.ismobile .introduction-text
{
	font-size: 4rem;
	line-height: 1.75;
}
.ismobile .introduction-conclusion
{
	padding: 7vh 0;
	margin-bottom: 0;
	font-size: 4.5rem;
	line-height: 1.8;
}
.ismobile #about .modal-btn
{
	font-size: 4rem;
}
.ismobile .sticky-nav
{
	top: 15vh;
}
.ismobile #query_suggeest.chosen-select
{
	font-size: 16px;
}
.ismobile .storecomment .modal-btn, .ismobile #blogAppend .modal-btn
{
	display: none;
}
.ismobile .single-link, .ismobile #blogAppend .single-link
{
	display: inline-block;
	font-size: 2rem;
}