/*hr
{
	color: white;
	size: 20px;
	width: 80%;
}*/
.chosen-select
{
	height: 40px;
}
.navbar-font
{
	font-size: 36pt;
}
.header
{
	background-image: url("../images/header_background.jpg");
	background-size: 100% auto;
	background-position: center;
}
.slogan-main
{
	font-size: 120pt;
}
.slogan-text
{
	font-size: 36pt;
	line-height: 48pt;
}
.formula-text
{
	font-size: 60pt;
	line-height: 90pt;
}
.introduction-header
{
	font-size: 36pt;
	line-height: 48pt;
}
.introduction-text
{
	font-size: 24pt;
	line-height: 48pt;
}
.introduction-conclusion
{
	font-size: 24pt;
}

.test2
{
	overflow: hidden;
}
.test
{
	/*size: cover;
	position: center;*/
	size: auto 100%;
}

/*about read more*/
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: '顯示更多';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: '顯示較少';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  /*border: 1px solid #ddd;*/
  /*border-radius: .25em;*/
}
/*read more over*/

.sticky-nav
{
	text-align: right;
	position: -webkit-sticky;
	position: sticky;
	top: 104px;
	width: 	100%;
	z-index: 999;
}

.store
{
	transition: background-color 1s;
}
.store:hover
{
	background-color: black;
}
.store::before
{
	/*background-image: url('../images/store1.jpg');*/
	background-size: auto 100%;
	background-position: center;
}

.bg-blur
{
	background: hsla(0,0%,0%,0.5);
	overflow: hidden;
	position: relative;
	/*need set background image of ::before in div*/
}
.bg-blur::before
{
	/*need set background image of ::before in div*/
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	filter: blur(5px);
	margin: -30px;
	z-index: -1;
}
.storeinfo
{
	padding-left: 10%;
	padding-right: 10%;
	position:absolute;
	top: 50%;
    transform: perspective(1px) translateY(-50%);
    /*transition: opacity 1s;*/
}
.storeinfo > .ranking
{
	font-size: 36pt;
}
.storeinfo > .finalscore
{
	font-size: 210pt;
}
.storeinfo > .store-name, .storeinfo > .drink-name, .storecomment .storename td:nth-of-type(1)
{
	font-size: 36pt;
	line-height: 54pt;
}
.scoretable
{
	width: 100%;
	table-layout: fixed;
	text-align: left;
}
.store .scoretable tr td:nth-child(1)
{
	font-size: 24pt;
	line-height: 36pt;
}
.store .scoretable tr td:nth-child(2)
{
	font-size: 24pt;
	line-height: 36pt;
}
.storecomment
{
	background-color: black;
	transition: opacity 1s;
}
.storecomment > div
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.storecomment > div table
{
	margin-bottom: 10px;
}

.otherinfo
{
	position: absolute;
	bottom: 0px;
}
.otherinfo>div
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1;
}
.otherinfo .bg-blur::before
{
	background-image: url('../images/store2.jpg');
	background-size: 100% auto;
	background-position: bottom;
	margin: 0px;
}
.otherinfo .storename td:nth-of-type(1)
{
	font-size: 24pt;
	line-height: 36pt;
	padding-left: 20px;
}
.otherinfo .storename td:nth-of-type(2)
{
	font-size: 60pt;
	padding-right: 20px;
}
.othercomment
{
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.othercomment::before
{
	background-image: url('../images/store2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.othercomment .storename td:nth-of-type(1)
{
	font-size: 36pt;
	line-height: 54pt;
}
.othercomment .storename td:nth-of-type(2)
{
	font-size: 48pt;
}
.othercomment .scoretable tr td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(3)
{
	font-size: 24pt;
	line-height: 36pt;
}
.othercomment .scoretable tr td:nth-of-type(2), .othercomment .scoretable tr td:nth-of-type(4)
{
	font-size: 24pt;
	line-height: 36pt;
}
.storename
{
	width: 100%;
	text-align: left;
}
.storename td:nth-of-type(2) p
{
	font-size: 48pt;
}
.comment
{
	font-size: 20pt;
	line-height: 30pt;
}
.vote
{
	font-size: 24pt;
}

/*when change-top is hover, change-first change to change-second*/
.change-top
{
	overflow: hidden;
}
.change-first
{

}
.change-second
{
	opacity: 0;
}
.change-top:hover .change-first
{
	display: none;
}
.change-top:hover .change-second
{
	opacity: 1;
}

/*#test:hover ~ #test2
{
	display: block;
}
#test2:hover
{
	display: block;
}*/



