/*hr
{
	color: white;
	size: 20px;
	width: 80%;
}*/
.navbar-brand img
{
	height: 36px;
}
.chosen-select
{
	font-family: 'GenJyuuGothic';
	font-weight: bold;
	height: 40px;
}

.header
{
	height: 85vh;
	background-image: url("../images/header_background.jpg");
	background-size: contain;
	background-position: center;
}
.slogan-main
{
	/*font-size: 120px;*/
	font-size: 10rem;
}
.formula-text
{
	/*font-size: 60px;*/
	/*font-size: 3.125vw;*/
	font-size: 5rem;
	/*line-height: 90px;*/
	/*line-height: 4.7vw;*/
	line-height: 7.5rem;
}

.test2
{
	overflow: hidden;
}
.test
{
	/*size: cover;
	position: center;*/
	size: auto 100%;
}

/*about read more*/
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: '顯示更多';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: '顯示較少';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  /*border: 1px solid #ddd;*/
  /*border-radius: .25em;*/
}
/*read more over*/

.sticky-nav
{
	text-align: right;
	position: -webkit-sticky;
	position: sticky;
	top: 88px;
	width: 	100%;
	z-index: 999;
}

.store
{
	transition: background-color 1s;
}
.store:hover
{
	background-color: black;
}
.store::before
{
	/*background-image: url('../images/store1.jpg');*/
	background-size: auto 100%;
	background-position: center;
}

.bg-blur
{
	background: hsla(0,0%,0%,0.5);
	overflow: hidden;
	position: relative;
	/*need set background image of ::before in div*/
}
.bg-blur::before
{
	/*need set background image of ::before in div*/
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	filter: blur(5px);
	margin: -30px;
	z-index: -1;
}
.storeinfo
{
	padding-left: 7rem;
	padding-right: 7rem;
	position:absolute;
	top: 11rem;
	/*top: 50%;*/
    /*transform: perspective(1px) translateY(-50%);*/
    /*transition: opacity 1s;*/
}
.storeinfo > .ranking
{
	
}
.storeinfo > .finalscore
{
	/*font-size: 210px;*/
	font-size: 17.5rem;
	line-height: 21rem;
}
.scoretable
{
	width: 100%;
	table-layout: fixed;
	text-align: left;
}
.storecomment
{
	background-color: black;
	transition: opacity 1s;
}
.storecomment > div
{
	padding-left: 7rem;
	padding-right: 7rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
}
.storecomment > div >*
{
	margin-bottom: 2rem;
}
.storecomment > div > .storename
{
	
}

.otherinfo
{
	position: absolute;
	bottom: 0px;
}
.otherinfo>div
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1;
}
.otherinfo .bg-blur::before
{
	background-image: url('../images/store2.jpg');
	background-size: 100% auto;
	background-position: bottom;
	margin: 0px;
}
.otherinfo .storename td:nth-of-type(1)
{
	padding-left: 20px;
}
.otherinfo .storename td:nth-of-type(2)
{
	/*font-size: 60px;*/
	font-size: 5rem;
	padding-right: 20px;
}
.othercomment
{
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.othercomment::before
{
	background-image: url('../images/store2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.storename
{
	width: 100%;
	text-align: left;
}
.comment
{
	/*font-size: 20px;*/
	font-size: 1.7rem;
	/*line-height: 30px;*/
	line-height: 2.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*when change-top is hover, change-first change to change-second*/
.change-top
{
	overflow: hidden;
}
.change-first
{

}
.change-second
{
	opacity: 0;
}
.change-top:hover .change-first
{
	display: none;
}
.change-top:hover .change-second
{
	opacity: 1;
}
.readmore div:nth-of-type(1):before, .readmore div:nth-of-type(2):before, .readmore div:nth-of-type(3):before, .readmore div:nth-of-type(4):before
{
	content: '';
	background-color: #715831;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: -1;
}
.readmore div:nth-of-type(1)
{
	height:  2vh;
	background: hsla(0, 0%, 100%, 0.4);
}
.readmore div:nth-of-type(2)
{
	height:  2vh;
	background: hsla(0, 0%, 100%, 0.3);
}
.readmore div:nth-of-type(3)
{
	height:  2vh;
	background: hsla(0, 0%, 100%, 0.1);
}
.readmore div:nth-of-type(4)
{
	height:  2vh;
}
.readmore div:nth-of-type(5)
{
	position: absolute;
	width: 100%;
	height: 8vh;
	vertical-align: middle;
	text-align: center;
}

.contact:before
{
	background-image: url('../images/header_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.logo, .society
{
	margin-top: 5vw;
	margin-bottom: 5vw;
}
.ps
{
	font-family: 'GenJyuuGothic';
	/*font-size: 15px;*/
	font-size: 1.25rem;
}

/*#test:hover ~ #test2
{
	display: block;
}
#test2:hover
{
	display: block;
}*/


.introduction-text, .introduction-conclusion, .store .scoretable tr td:nth-child(1), .store .scoretable tr td:nth-child(2), .otherinfo .storename td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(3), .othercomment .scoretable tr td:nth-of-type(2), .othercomment .scoretable tr td:nth-of-type(4), .vote, .readmore div:nth-of-type(5) a
{
	/*font-size: 24px;*/
	/*font-size: 1.25vw;*/
	font-size: 2rem;
}
.navbar-font, .slogan-text, .introduction-header, .storeinfo > .ranking, .storeinfo > .store-name, .storeinfo > .drink-name, .storecomment .storename td:nth-of-type(1), .othercomment .storename td:nth-of-type(1)
{
	/*font-size: 36px;*/
	font-size: 3rem;
}
.othercomment .storename td:nth-of-type(2), .storename td:nth-of-type(2) p
{
	/*font-size: 48px;*/
	/*font-size: 2.5vw;*/
	font-size: 4rem;
}
.navbar-font, .slogan-main, .slogan-text, .formula-text, .introduction-header, .introduction-conclusion, .storeinfo > .ranking, .storeinfo > .store-name, .storeinfo > .drink-name, .storecomment .storename td:nth-of-type(1), .store .scoretable tr td:nth-child(1), .store .scoretable tr td:nth-child(2), .otherinfo .storename td:nth-of-type(1), .othercomment .storename td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(3), .othercomment .scoretable tr td:nth-of-type(2), .othercomment .scoretable tr td:nth-of-type(4), .vote, .readmore div:nth-of-type(5) a, .ps
{
	font-family: 'GenJyuuGothic';
}
.storeinfo > .finalscore, .otherinfo .storename td:nth-of-type(2), .othercomment .storename td:nth-of-type(2), .storename td:nth-of-type(2) p
{
	font-family: 'Branding';
}
.navbar-font, .storeinfo > .finalscore, .store .scoretable tr td:nth-child(1), .otherinfo .storename td:nth-of-type(2), .othercomment .storename td:nth-of-type(2), .othercomment .scoretable tr td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(3), .storename td:nth-of-type(2) p, .vote, .readmore div:nth-of-type(5) a
{
	font-weight: bold;
}
.slogan-main, .formula-text, .introduction-header, .storeinfo > .store-name, .storeinfo > .drink-name, .storecomment .storename td:nth-of-type(1), .otherinfo .storename td:nth-of-type(1), .othercomment .storename td:nth-of-type(1)
{
	font-weight: bolder;
}

.store .scoretable tr td:nth-child(1), .store .scoretable tr td:nth-child(2), .otherinfo .storename td:nth-of-type(1)
{
	/*line-height: 36px;*/
	/*line-height: 1.8vw;*/
	line-height: 3rem;
}
.slogan-text, .introduction-header, .introduction-text, .othercomment .scoretable tr td:nth-of-type(1), .othercomment .scoretable tr td:nth-of-type(3), .othercomment .scoretable tr td:nth-of-type(2), .othercomment .scoretable tr td:nth-of-type(4)
{
	/*line-height: 48px;*/
	/*line-height: 2.5vw;*/
	line-height: 4rem;
}
.othercomment .storename td:nth-of-type(1), .storeinfo > .store-name, .storeinfo > .drink-name, .storecomment .storename td:nth-of-type(1)
{
	/*line-height: 54px;*/
	/*line-height: 2.8vw;*/
	line-height: 4.5rem;
}